<div class='main'>
  <div class='copy-container'>
    <h1>Click the image</h1>
  </div>

  <div class="contents">
    <div class='contents-item'>
      <a href="https://youtu.be/0mlFlJ1Rjq0">
      <img src="Unknown-3.jpeg"></a>
      <a href="https://en.wikipedia.org/wiki/Tupac_Shakur">
      <p>2pac</p></a>
    </div>
    <div class="contents-item">
      <a href="https://youtu.be/hI8A14Qcv68">
      <img src='Unknown-4.jpeg'></a>
      <a href="https://en.wikipedia.org/wiki/Nas">
      <p>Nas</p></a>
    </div>
    <div class="contents-item">
      <a href="https://youtu.be/WnURNzFSd6E">
      <img src="images-9.jpeg"></a>
      <a href="https://en.wikipedia.org/wiki/Big_L">
      <p>Big L</p></a>
    </div>
    <div class="contents-item">
      <a href="https://youtu.be/RM7lw0Ovzq0">
      <img src="images-10.jpeg"></a>
      <a href="https://en.wikipedia.org/wiki/Jay-Z">
      <p>Jay Z</p></a>
    </div>
    <div class="container">
      <div class="heading">
        <h1>You have to check the hiphop music!!</h1>
      </div>
      <a href="https://www.youtube.com/channel/UC1g7JmTw4Gv8W9YINg3M1FA">
      <div class='btn-black'>Let's go!</div></a>
    </div>

  </div>
</div>
