<head>
  <meta charset="utf-8">
  <title>180site</title>
</head>
<body>
  <div class="header">
  <div class="header-logo">180site</div>
  <div>
    <ul>
      <a href="https://github.com/KeisukeUchida1995">Git</a>
      <a href="/about">about</a>
    </ul>
  </div>
<div class="main top-main">
  <div class="top-message">
    <h1>What's up!</h1>
    <h2>I'm making 180 website 180 days</h2>
    <p>Thank you for cheaking here<p>
      <a href="/top">Day1 Home Page</a>
      <a href="/day2">Day2 Graffiti collection</a>
      <a href="/day3">Day3 Check the song</a>
  </div>
 </div>
</div>
</body>
